<?xml version="1.0" encoding="UTF-8"?>
<suite name="Automation Project Test" parallel="tests" thread-count="2">

    <test name="Job Search Test">
        <parameter name="baseURL" value="https://useinsider.com/careers/quality-assurance/"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.JobSearchTest"/>
        </classes>
    </test>
</suite>
