<?xml version="1.0" encoding="UTF-8"?>
<suite name="Automation Project Test" parallel="tests" thread-count="3">
    <parameter name="baseURL" value="https://useinsider.com"/>
    <parameter name="browser" value="chrome"/>
    <test name="Home Page Test">
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>
    <test name="Career Page Test">
        <classes>
            <class name="tests.CareerPageTest"/>
        </classes>
    </test>
    <test name="Job Search Test">
        <parameter name="baseURL" value="https://useinsider.com/careers/quality-assurance/"/>
        <classes>
            <class name="tests.JobSearchTest"/>
        </classes>
    </test>
</suite>
